TZ=

# Kimai Configs
KIMAI_URL=
KIMAI_TOKEN=
KIMAI_BOT_TOKEN=
CHAT_ID=

# Weather Bot Configs
WEATHER_BOT_TOKEN=
OPENWEATHER_API_KEY=
LOCATION_NAME=
OBS_STATION_ID=
WORK_START=
WORK_END=
NOTIFY_TIME=

# LINE Translate Bot Configs
LINE_CHANNEL_ACCESS_TOKEN=
LINE_CHANNEL_SECRET=
DEEPL_AUTH_KEY=
